@use "base/mixins";
@use "base/variables";
@use "base/typography";
@use "base/base";


@use "components/header";
@use "components/button";
@use "components/footer";
@use "components/page";
@use "components/interMap";
@use "components/weHave";
@use "components/attraction";
@use "components/news";
@use "components/alleys";
@use "components/qoute";
@use "components/trees";
@use "components/benefits";
@use "components/callToAction";
@use 'components/faq';
@use 'components/_numbers';
@use 'components/headBanner';
@use 'components/famousPeople';
@use 'components/treeDescription';
@use 'components/_plantTree';
@use 'components/menuButton';
@use 'components/ui/_svgIcon';