@import "base/mixins";
@import "base/variables";
@import "base/typography";
@import "base/base";


@import "components/header";
@import "components/button";
@import "components/footer";
@import "components/page";
@import "components/interMap";
@import "components/weHave";
@import "components/attraction";
@import "components/news";
@import "components/carousel";
@import "components/alleys";
@import "components/qoute";
@import "components/trees";
@import "components/benefits";
@import "components/callToAction";
@import 'components/faq';
@import 'components/_numbers';
@import 'components/headBanner';
@import 'components/bannerSlider';
@import 'components/famousPeople';
@import 'components/treeDescription';
@import 'components/_plantTree';