.alleys {
    .container {
      position: relative;
    }

    &__headline{
      display: flex;
      justify-content: space-between;
      align-items: baseline;
    }
  
    &__wrapper {
      display: flex;
      align-items: center;
      position: relative;
      overflow: hidden;

      overflow-x: auto;
      scroll-behavior: smooth;
      -webkit-overflow-scrolling: touch;
    }
  
    &__items {
      min-width: 100%;
      display: flex;
      flex-wrap: nowrap;
      gap:auto;
      // gap: 16px;
      overflow-x: auto;
      scroll-behavior: smooth;
      scrollbar-width: none;
  
      &::-webkit-scrollbar {
        display: none;
      }
    }

    &__items.--showed{
      display: flex;
      flex-wrap: wrap !important;
      overflow-x: hidden;
      // justify-content: center;
    }

    .--hide{
      display: none;
    }

    .--revealed{
      display:block;
    }
    .btn.--revealed{
      display: block; 
      margin: 0 auto; 
    }
  
    &__arrows{
      display: flex;
      flex-direction: row;
    }
    &__arrow {
      background: none;
      border: none;
      cursor: pointer;
      z-index: 10;
      color: #333;
      transition: color 0.2s;
  
      &:hover {
        color: #000;
      }
      &.left{
        margin-right: 5px;
      }
  
    }
  
    &__navigation {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 16px;
      .btn{
        margin:0;
      }
    }

    @media screen and (max-width: 426px) {
      &__headline{
        flex-direction: column;
      }
      .col-sm{
        width: 100%;
        font-size: 1.3rem;
      }
      &__navigation{
        padding-left: 1rem;
        padding-right: 1rem;
      }
      }
  
  }
  
.alley{
  &__img{
    width: 22.625rem;
    max-height: 27.25rem;
    // box-sizing: content-box;
    border-radius: 2.75rem
  }
  &__name{
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.5;
  }
}

.alleys__scrollbar {
  width: 40%;
  height: 4px;
  background: #ddd;
  position: relative;
  border-radius: 2px;
  overflow: hidden;
  transition: height 0.2s ease;

  &:hover {
    height: 10px;
  }
}

.alleys__scrollbar-thumb {
  width: 30%;
  height: 100%;
  background: #333;
  position: absolute;
  left: 0;
  border-radius: 2px;
  transition: transform 0.3s ease, height 0.2s ease, background 0.2s ease;

  &:hover {
    background: #555;
    height: 8px;
  }

  &:active {
    background: #777;
    height: 10px;
  }
}


.alleys__scrollbar-thumb.active {
  background: #777;
  height: 10px;
}

