.alleys {
    .container {
      position: relative;
    }

    &__headline{
      display: flex;
      justify-content: space-between;
      align-items: baseline;
    }
  
  }
  
.alley{
  &__img{
    width: 22.625rem;
    max-height: 27.25rem;
    // box-sizing: content-box;
    border-radius: 2.75rem
  }
  &__name{
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.5;
  }
}

