.bannerSlider {
  position: relative;
  height: 37rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
  overflow: hidden;
  border-radius: 2.75rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-bottom: 9.8rem;

  &__content {
    align-self: flex-start;
    z-index: 2;
    font-size: 2rem;
    padding: 0 9rem;
    max-width: 45%;
  }

  &__description {
    line-height: 1.625rem;
    margin-bottom: 3rem;
  }

  &__overlay {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  &__arrows {
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: translateY(-50%);
    .alleys__arrow {
      width: 50px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      
      
      &:hover {
        transition: 0.3s ease;
        background: rgba(0, 0, 0, 0.2);
        border-radius: 50%;
      }

      img {
        width: 35px;
        height: 35px;
      }
    }

    .left {
      position: relative;
      left: 0;
    }

    .right {
      position: relative;
      right: 0;
    }
  }

  &--dark {
    color: white;

    .bannerSlider__overlay {
      background: linear-gradient(90deg, #101916 0%, rgba(16, 25, 22, 0) 100%);
      background-size: cover;
      background-position: left;
      background-repeat: no-repeat;
    }
  }

  &--light {
    color: black;

    .bannerSlider__overlay {
      background: linear-gradient(90deg, #ffffff 30%, rgba(244, 242, 239, 0) 100%);
      background-size: cover;
      background-position: left;
      background-repeat: no-repeat;
    }
  }
}
