.benefits{

    .row{
        border-radius: 44px;

        &__img{
          border-radius: 44px;
        }

    } 

    &__items, .type{
      padding-left: 0px;
    }
    &__title{
      color: #000;
      font-family: Montserrat;
      font-size: 1.375rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }


    &__items{
        padding-top: 4.26rem;
        padding-bottom: 2.27rem;
        padding-left: 7rem;


        ul {
          list-style: none; 
          padding-left: 0;
  
        }
        
        li {
          position: relative;
          padding-left: 30px;
          padding-right: 30px;
          font-size: 1.5rem;
          font-style: normal;
          font-weight: 400;
          line-height: 3.4rem; 
        }
        
        li::before {
          content: "";
          background: url('/assets/custom-bullet.svg') no-repeat center / contain;
          width: 20px;
          height: 20px;
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
        }
    }
    @media screen and (max-width: 1025px) {
      &__items{
        padding-left: 4rem;
      }
    }

    @media screen and (max-width: 769px) {
      .container{
        padding:0;
      }
      &__img{
        width: 50%;
        height: fit-content;
      }
    }

    @media screen and (max-width: 481px) {
      .row{
        display: flex;
        flex-direction: column-reverse;
      }
      &__img{
        width: 100%;
        height: fit-content;
      }
    }

}