.benefits{

    .row{
        border-radius: 2.75rem;
    }
    &__items, .type{
      padding-left: 0px;
    }
    &__title{
      color: #000;
      font-family: Montserrat;
      font-size: 1.375rem;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }


    &__items{
        padding-top: 4.26rem;
        padding-bottom: 2.27rem;
        padding-left: 7rem;
        margin-bottom: 1.25rem;

        ul {
          list-style: none; 
          padding-left: 0;
  
        }
        
        li {
          position: relative;
          padding-left: 30px;
          padding-right: 30px;
          font-size: 1.5rem;
          font-style: normal;
          font-weight: 400;
          line-height: 3.4rem; 
        }
        
        li::before {
          content: "";
          background: url('/assets/custom-bullet.svg') no-repeat center / contain;
          width: 20px; /* Розмір іконки */
          height: 20px;
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
        }
    }

}