@use "../base/variables";

.btn {
  font-size: 1.125rem;
  margin-right: 1rem;
  margin-bottom: 1rem;

  &--small {
    padding: 1rem 1.8rem;
    border-radius: 1.2rem 0.3rem 1.2rem 0.3rem;
  }

  &--medium {
    padding: 1.22rem 2.25rem;
    border-radius: 1.6rem 0.3rem 1.6rem 0.3rem;
    font-weight:600;
  }

  &--white {
    background-color: white;
    border: 2px white solid;
    color: black;
    &:hover,
    &:focus {
      background-color: variables.$green;
      border: 2px white solid;
      color:white;
      animation-duration: 0.2s;
    }
  }

  &--green {
    background-color: variables.$green;
    border: 2px variables.$green solid;
    color: white;
    &:hover,
    &:focus {
      background-color: white;
      border: 2px variables.$green solid;
      color:variables.$green;
      animation-duration: 0.2s;
    }
  }

  &--outlined {
    background-color: white;
    border: 2px variables.$green solid;
    color: black;
    &:hover,
    &:focus {
      background-color: variables.$green;
      border: 2px variables.$green solid;
      color:white;
      animation-duration: 0.2s;
    }
  }

  &--fiolet {
    background-color: variables.$fiolet;
    color: white;
  }
  &--purple {
    background-color: variables.$purple;
    color: white;
  }

  &--minimal {
    background: none;
    border: none;
    cursor: pointer;
    transition: color 0.2s;

    &:hover {
      color: #0056b3;
    }

    &:disabled {
      color: #bbb;
      cursor: not-allowed;
    }
  }

  @media screen and (max-width: 426px) {
    font-size: 1.4rem;
    line-height: 1.75rem;

    &--medium {
      padding: 1.45rem 2.25rem;
    }
  }

}
