.callToAction {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  max-width: 100%;
  padding: 50px 5vw;
  position: relative;
  overflow: hidden;
}

.callToAction .left, 
.callToAction .right {
  position: relative;
  width: 25%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.callToAction .left img, 
.callToAction .right img {
  position: absolute;
  width: 100%;
  max-width: 250px;
  height: auto;
  transition: transform 0.3s ease;
}

.callToAction .left img:first-child {
  left: -20px;
  z-index: 2;
}

.callToAction .left img:last-child {
  left: -50%;
  z-index: 1;
}

.callToAction .right img:first-child {
  right: -20px;
  z-index: 2;
}

.callToAction .right img:last-child {
  right: -50%;
  z-index: 1;
}

.callToAction .center {
  width: 50%;
  text-align: center;
  padding: 20px;
  ul{
    text-align: left;
    margin-bottom: 20px;
  }
  li{
    line-height: 2.5rem;
    margin-left: 2rem;
    list-style-type: decimal;
  }
}

.callToAction h2 {
  margin-bottom: 10px;
}


@media screen and (max-width: 426px) {
  .callToAction .center{
    padding: 0;
  }
}