@use "../base/variables";

.callToAction {
  display: flex;
  align-items: center;
  // justify-content: space-between;
  justify-content: center;
  width: 100vw;
  max-width: 100%;
  padding: 50px 5vw;
  position: relative;
  overflow: hidden;
  margin-bottom: 0;

  &.donate{
    margin-bottom: 8rem;
    padding: 10px 5vw;
  }

  &__steps{
    display: flex;
    flex-direction: row;
    gap:2rem;

    .step{
      width: 100%;
      background-color: variables.$light-green;
      border-radius: 2.75rem;
      padding: 1rem;
    }
    
    span{
      position: relative;
      top: -25px;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: center;
      color:white;
      width: 4rem;
      min-width: 4rem;
      min-height: 4rem;
      font-size: 25px;
      background-color: variables.$green;
      border-radius: 50px;
    }

  }
  p{
    position: relative;
    top: -10px;
    line-height: 2.5rem;
  }

  .btn{
      margin: 1rem 0 0 0 ;
  }

  .center {
    width: 50%;
    text-align: center;
  }

  .left, .right {
    position: relative;
    width: 25%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

 .left img, 
 .right img {
    position: absolute;
    width: 100%;
    max-width: 250px;
    height: auto;
    transition: transform 0.3s ease;
  }

 .left img:first-child {
    left: -20px;
    z-index: 2;
  }

 .left img:last-child {
    left: -50%;
    z-index: 1;
  }

 .right img:first-child {
    right: -20px;
    z-index: 2;
  }

 .right img:last-child {
    right: -50%;
    z-index: 1;
  }

  h2 {
    margin-bottom: 4rem;
  }

  .trees{
    display: none;
  }
  
  @media screen and (max-width: 769px) {
    &__steps{
      flex-direction: column;
      .step{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: left;
        height: 80px;
        gap:20px;
      }
      span{
        top: 0;
        left:-3rem;
        margin:0;
      }
      p{
        top:0;
        left:-3rem;
        text-align: left;
      }
    }
  }

  @media screen and (max-width: 481px) {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .center{
      width: 70%;
    }
    .left, .right{
      display: none;
    }

    .trees{
      margin-top: 2rem;
      height: 100px;
      width: 100%;
      display: block;
      background-image: url('/assets/alleys/tree1.png'), url('/assets/alleys/tree1.png');
      background-repeat: repeat-x, repeat-x;
      background-size: 20%;
      background-position: 0 0px, 30px 0px,
    }
  }
}
