.carousel{
    margin-bottom: 25px;
    position: relative;
    height: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 6rem;
    padding-bottom: 3rem;
    overflow: hidden;
    border-radius: 6.25rem 0rem;
    background-size:cover;
    background-position: center;
    
    &__content {
      align-self: flex-start;
      z-index: 2;
      padding: 0 9rem;
      max-width: 45%;
    }
    &__description{
        margin-bottom: 3rem;
    }
  
    &__overlay {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
    }

    .carousel__overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
    }

    .carousel,
    .carousel__overlay {
      box-sizing: border-box;
    }
    
    &__arrows {
      position: absolute;
      z-index: 10;
      top: 50%;
      left: 0;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      
      .carousel__arrow {
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        
        
        &:hover {
          transition: 0.3s ease;
          background: rgba(0, 0, 0, 0.2);
          border-radius: 50%;
        }
  
        img {
          width: 35px;
          height: 35px;
        }
      }
  
      .left {
        position: relative;
        left: 0;
      }
  
      .right {
        position: relative;
        right: 0;
      }
    }
  
    &--dark {
      color: white;
  
      .carousel__overlay {
        background: linear-gradient(90deg, #101916 0%, rgba(16, 25, 22, 0) 100%);
      }
    }
  
    &--light {
      color: black;
  
      .carousel__overlay {
        background: linear-gradient(90deg, #F4F2EF 0%, rgba(244, 242, 239, 0) 100%);
      }
    }
  }


  @media screen and (max-width: 769px) {
    .carousel{
      &__content {
        align-self: flex-start;
        z-index: 2;
        font-size: 2rem;
        padding: 0 9rem;
        max-width: none;
      }  
    }
  }

  
  @media screen and (max-width: 426px) {
   
    .carousel{
      border-radius: 0;
      min-height: calc(100vh - 11rem);
      flex-direction: column-reverse;
      padding-bottom: 10rem;

      &__content {
        align-self: flex-start;
        z-index: 2;
        padding: 0 3rem;
        max-width: none;
      }

      &__arrows {
        top: 85.5%;
        padding-right: 2rem;
        justify-content: flex-end;
      }
      
      &--dark {
        .carousel__overlay {
          background: linear-gradient(0deg, #101916 0%, rgba(16, 25, 22, 0) 100%);
        }
      }
    
      &--light {
        .carousel__overlay {
          background: linear-gradient(0deg, #F4F2EF 0%, rgba(244, 242, 239, 0) 100%);
        }
      }
    }
  }




  