@use "../base/variables";

.famousPeople {
    &__headline{
        text-align: center;
    }

    &__items {
      display: flex;
      flex-wrap: nowrap;
      gap: 3rem;
      justify-content: center;
    }
  
    &__card {
      margin-top: 10rem;
      position: relative; 
      display: flex;
      flex-direction: column;
      align-items: center;
      width:25%;
      max-width: 280px;
      height:auto
    }
    &__img {
      position: absolute;
      top: -50px;
      left: 50%;
      transform: translateX(-50%);
      border-radius: 50%;
      z-index: 6;
    }


    &__text {
      position: relative;
      display: flex;
      flex-direction: column;
      text-align: left;
      justify-content: space-between;
      background-color: #d4edda; 
      border-radius: 2.75rem;

      min-width:280px;
      height: 100%;
      padding:  17rem 1.75rem 1.75rem  1.75rem;

      z-index: 1;
      div:first-child{
        margin-bottom: 1.75rem;
      }
      div:last-child{
        color: variables.$green;
        p{
          display: flex;
          align-items: center;
        }
        button{
            color:white;
            background-color: variables.$green;
            border-radius: 50px;
            border: 2px white solid;
            width: 3.54844rem;
            height: 3.54844rem;
        }
      }
    }

    &__free{
        display: flex;
        justify-content: space-between;   
        align-items:center;
    }
  
    @media screen and (max-width: 1026px) {
      &__img {
        height:185px;
        width:185px;
      }
      &__text{
        min-width:230px;
      }
    }
    @media screen and (max-width: 769px) {
      &__img {
        height:130px;
        width:130px;
      }

      &__card{
        width: 32%;
      }

      &__text {
        padding-top: 11rem;
        min-width:200px;
      }

    }
    @media screen and (max-width: 426px) {

      &__headline{
        padding: 1rem;
      }

      &__card{
        width: 45%;
        height: 215px
      }

      &__img {
        height:120px;
        width:120px;
      }

      &__person {
        position:relative;
        margin-bottom: 35px;
        width: 75%;
      }

      &__text {
        padding-top:  10rem;
        min-width: 170px;
      }

      &__info,p{
        font-size: 1.5rem;
        line-height: 2.2rem;
    }

    }
  
  }
  