.FAQ {
  .container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    margin: 0 auto;
  }


  
  &__title {
    width: 30%;
  }
  
  
  &__accordion {
    width: 60%;
  }
  
  &__item {
    border-bottom: 1px solid #ccc;
    padding: 15px 0;
  }
  
  &__question {
    width: 100%;
    background: none;
    border: none;
    text-align: left;
    font-size: 1.75rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 10px 0;
    span{
      color:black;
    }
  }
  
  &__icon {
    font-size: 3.75rem;
    transition: transform 0.3s ease;
  }
  
  .FAQ__item.open .FAQ__icon {
    transform: rotate(180deg);
  }
  
  &__answer {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease;
    font-style: normal;
    font-weight: 400;
    line-height: 1.625rem;
  }
  
  &__answer p {
    font-size: 1.5rem;
    margin: 10px 0 0;
    line-height: 1.4;
  }

  @media screen and (max-width: 426px) {
    .container{
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 1rem;
    }
    &__accordion {
      width: 100%;
    }
    &__title{
      font-size: 2rem;
      width: 100%;
      text-align: center;
    }
    &__answer p {
      margin: 10px 0 0;
      font-size: 1.5rem;
      line-height: 1.4;
    }

  }
}