.footer {  

  .body {
    display: flex;
    justify-content: space-between; 
    align-items: flex-end;
  }
  &__title{
    margin-top: 75px;
    margin-bottom: 20px;
  }
  &__map{
    width: 100%;
    height: 39.8rem;
    border:0px;
  }
  &__main {
    border-bottom: solid 2px rgba(255, 255, 255, 0.555);
    padding: 2rem 0;
  }
  &__contacts {
    display: flex;
    flex-direction: column;
  }
  &__actions {
    display: flex;
    flex-direction: row;
    align-items: end;
    text-align: right;
    font-size: 1rem;
    min-height: 287px;
    & .col{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      & div{
        margin-bottom: 2.5rem;
      }
    }
  }

  &__logo {
    margin-bottom: 2.5rem;
  }

  &__icons {
    display: flex;
    & > a {
      margin: 0.65rem;
    }
  }


  &__links {
    display: flex;
    flex-direction: column;
    align-items:baseline;
    font-weight: 400;
    list-style: none;
    margin-bottom: 2.5rem;
    font-size: 1.25rem;
    line-height: 2rem;

    & li:not(:last-of-type) {
      margin-right: 2.5rem;
    }
  }

  &__policies {
    padding: 2rem 0;
  }

  &__policies-nav, a {
    display: inline-flex;
    list-style: none;
    align-items: center;

    & li:not(:last-of-type) {
      margin-right: 3.5rem;
    }
  }
}
