.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  font-size: 1.1rem;
  padding: 2rem 4.8rem;
  z-index: 10;

  &__top {
    display: flex;
    justify-content: space-between;
  }

  &__icons {
    display: flex;
    & > a {
      margin: 0.65rem;
    }
  }

  &__phones {
    display: flex;
    flex-direction: column;
    align-items:baseline;
    font-weight: 600;
  }
  

  &__nav {
    margin-top: 2.8rem;
    display: flex;
    list-style: none;
    justify-content: center;
    list-style: none;

    & li:not(:last-of-type) {
      margin-right: 4.6rem;
    }
  }
}
