.headBanner {
    margin-bottom: 25px;
    position: relative;
    height: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: fill;
    background-position: 100% 40%;

    
    &__content {
      align-self: flex-start;
      z-index: 2;
      font-size: 2rem;
      padding: 0 9rem;
      max-width: 45%;
    }
    &__description{
        margin-bottom: 3rem;
    }
  
    &__overlay {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
    }

    .headBanner,
    &__overlay {
    box-sizing: border-box;
    }
      
  
    &--dark {
      color: white;
  
      .headBanner__overlay {
        background: linear-gradient(90deg, #101916 0%, rgba(16, 25, 22, 0) 100%);
        background-size:80%;
        background-position:left;
        background-repeat: no-repeat;
      }
    }
  
    &--light {
      color: black;
  
      .headBanner__overlay {
        background: linear-gradient(90deg, #ffffff 30%, rgba(244, 242, 239, 0) 100%);
        background-size:93%;
        background-position:left;
        background-repeat: no-repeat;
      }
    }

    @media screen and (max-width: 1026px) {
      background-size:100%;
    }
    @media screen and (max-width: 769px) {
      height: 40rem;
      background-position: 70% 0%;
        &__content {
          align-self: flex-start;
          z-index: 2;
          font-size: 2rem;
          padding: 2rem 9rem;
          max-width: 60%;
        }  

    }
    @media screen and (max-width: 426px) {
      flex-direction: column-reverse;
      background-size:300%;
      min-height: calc(100vh - 11rem);
      background-position: 68% 0%;
      padding-bottom: 10rem;
      margin-bottom: 10rem;

      &__content {
        align-self: flex-start;
        z-index: 2;
        font-size: 2rem;
        padding: 0 3rem;
        max-width: none;
      }
      
      &--dark {
        .headBanner__overlay {
          background: linear-gradient(0deg, #101916 16%, rgba(16, 25, 22, 0) 100%);
        }
      }
    
      &--light {
        .headBanner__overlay {
          background: linear-gradient(0deg, #F4F2EF 16%, rgba(244, 242, 239, 0) 100%);
        }
      }


    }

  }



  