@use "../base/variables";
.headBanner {

    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 40rem;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: 100% 40%;
    background-size: 80%;


    &.carousel-body{
      border-radius: 6.25rem 0rem;
    }
    &.bannerSlider-body{
      border-radius: 2.75rem;
    }

    
    &__content {
      position: relative;
      align-self: flex-start;
      z-index: 5;
      font-size: 2rem;
      left: 8rem;
      max-width: 38%;
      height: 100%;
      padding-right: 9.5rem;
      padding-left: 1rem;
      padding-top: 3rem;
      padding-bottom: 3rem;
      text-wrap-mode: wrap;

      &--dark {
        background: linear-gradient(90deg, #101916 50%, rgba(16, 25, 22, 0) 100%);
        background-size:100%;
        background-position:left;
        background-repeat: no-repeat;
      }
      &--light{
        background: linear-gradient(90deg, #ffffff 50%, rgba(244, 242, 239, 0) 100%);
        background-size:100%;
        background-position:left;
        background-repeat: no-repeat;
      }
    }
    &__description{
        margin-bottom: 3rem;
    }

    &__buttons{
      .arrows{
        display: none;
      }
    }
  

    &__navigation{
      position: absolute;
      top: 0;
      z-index:3;
      width: 100%;
      height: 100%;

      .arrows {
            position: absolute;
            z-index: 10;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
          

        .fade{
          height: 100%;
          width: auto;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      
        .arrow {
          margin: auto 0;
          width: 50px;
          height: 50px; 
          opacity: 0.7;        
          
          &:hover {
            transition: 0.3s ease;
            background: rgba(0, 0, 0, 0.2);
            border-radius: 50%;
            opacity: 1; 
          }
    
          img {
            width: 35px;
            height: 35px;
          }
        }
    
        .left {
          position: relative;
          left: 0;
        }
    
        .right {
          position: relative;
          right: 0;
        }
      }
    }
    
    &__pagination{
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 100px;
      gap:5px;
      padding: 5px;
      .dot{
        width: 10px;
        height: 10px;
        border-radius: 100px;
        background-color: variables.$green;
        cursor: pointer;
      }
      .dot:hover,
      .--active{
        background-color: variables.$white;
        border: 1px solid variables.$green;
        transition: 0.3 ease-in-out;
      }
    }

    @media screen and (max-width: 769px) {
      height: 40rem;
      background-position: 70% 0%;
        &__content {
          align-self: flex-start;
          font-size: 2rem;
          padding: 3rem 0;
          // padding-right: 0px;
          // padding-left: 0px;
          // padding-top: 3rem;
          // padding-bottom: 3rem;
          max-width: 39%;
        }  

    }
    @media screen and (max-width: 481px) {
      flex-direction: column-reverse;
      height: fit-content;
      padding-top: 2rem;
      padding-bottom: 0px;
      min-height: calc(100vh - 11rem);
      background-size: cover;
      background-position: 50% 0%;

      &__content {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        left:0;
        font-size: 2rem;
        padding: 6rem 3rem 0;
        max-width: none;
        height: fit-content;
        min-height: 270px;
        max-height: 330px;

        
        &--dark {
          background: linear-gradient(0deg, #101916 50%, rgba(16, 25, 22, 0) 100%);
        }
        &--light{
          background: linear-gradient(0deg, #ffffff 50%, rgba(244, 242, 239, 0) 100%);
        }
      }

    &__buttons{
      display: flex;
      justify-content: space-between;
      
      & >.arrows{
          display: flex;
          gap:10px;
          padding: 0 3rem;
          bottom: 2rem;
      }
    }

      &__navigation{
          display: none;
          position: absolute;
          top: 0;
          z-index: 10;
          width: 100%;
          height: 100%;

          .arrows {
            display: none;
          }

            .fade{
              height: fit-content !important;
              width: auto;
              display: flex;
              align-items: center;
              justify-content: center;
            }
      }


      &__pagination{
        display: none;
      }

    }

  }



  