.headBanner {
    margin-bottom: 25px;
    position: relative;
    height: 37rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
    overflow: hidden;
    // border-radius: 6.25rem 0rem;
    background-repeat: no-repeat;
    background-size:70%;
    background-position: right;
    
    &__content {
      align-self: flex-start;
      z-index: 2;
      font-size: 2rem;
      padding: 0 9rem;
      max-width: 45%;
    }
    &__description{
        line-height: 1.625rem;
        margin-bottom: 3rem;
    }
  
    &__overlay {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
    }

    .headBanner__overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
    }

    .headBanner,
    .headBanner__overlay {
    box-sizing: border-box;
    }
      
  
    &--dark {
      color: white;
  
      .headBanner__overlay {
        background: linear-gradient(90deg, #101916 0%, rgba(16, 25, 22, 0) 100%);
        background-size:80%;
        background-position:left;
        background-repeat: no-repeat;
      }
    }
  
    &--light {
      color: black;
  
      .headBanner__overlay {
        background: linear-gradient(90deg, #ffffff 30%, rgba(244, 242, 239, 0) 100%);
        background-size:93%;
        background-position:left;
        background-repeat: no-repeat;
      }
    }
  }



  