@use "../base/variables";

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  font-size: 1.1rem;
  font-weight: 600;
  padding: 2rem 4.8rem;
  z-index: 10;
  background-color: white;

  li {
    list-style: none;
    a {
      color: black;
      transition: color 0.3s;

      &.active {
        padding: 2px 3px;
        border-bottom: solid 3px variables.$fiolet;
      }
    }
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__socials {
    display: flex;

    & > a {
      margin: 0.65rem;
    }
  }

  &__icon {
    width: 25px;
  }

  &__phones {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    font-weight: 600;
  }

  &__nav {
    margin-top: 2.8rem;
    display: flex;
    justify-content: center;

    & li:not(:last-of-type) {
      margin-right: 4.6rem;
    }
  }
}

#menu-button{
  display: none;
}

.humburger{
  display: none;
}



@media screen and (max-width: 769px) {
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    padding: 3rem 2rem;
    z-index: 20;
    max-width: 100vw; 

    &__top {
      height: 5rem;
    }

    &__logo {
      width: 13rem;
    }

    &__phones,
    &__socials,
    &__nav {
      display: none;
    }

    #menu-button {
      display: block;
    }
  }

.humburger {
  position: fixed;
  top: -100%;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgb(255, 255, 255);
  transition: top 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  z-index: 30;

  &.open {
    top: 0;
  }

  &__top {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__logo {
    width: 150px;
  }

  &__nav {
    margin-top: 2rem;
    width: 100%;

    ul {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding: 0;
    }

    li {
      text-align: center;
    }
    

    a {
      font-size: 18px;
      line-height: 2;
      font-weight: 600;
      text-decoration: none;
      color: black;
      transition: color 0.2s;

      &.active {
        padding: 2px 3px;
        border-bottom: solid 3px variables.$fiolet;
      }
    }
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: auto;
    text-align: center;
    font-weight: 600;
    font-size: 14px;
  }
  &__socials{
    display: flex;
    & > a {
      margin: 0.65rem;
    }
  }
}
}


@media screen and (max-width: 426px) {
  .header {
    height: auto; 
    display: flex;

    &__logo {
      width: 10rem;
      height: 100%;
    }

    &__top {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap; 
    }

    &__socials {
      display: none;
    }
  }
  #menu-button {
    width: 28px;
    height: 24px;
  }
}


