.interMap {
  position: relative;
  width: 100%;
  height: 65rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 3rem;
  padding-bottom: 3rem;

  &__title {
    align-self: flex-start; 
    font-size: 2rem;
    color: $green;
    z-index: 2;
  }

  &__map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
  }

  &__legend {
    position: relative;
    z-index: 2;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: center;
  }

  &__legend-body {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    padding: 2.2rem 3rem;
    width: 100%;
  }

  &__items {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: black;
  }
}
