@use "../base/variables";

$map-width: 1600px;
$map-height: 805px;

.interMap2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  width: 100%;
  height: $map-height;
  max-width: $map-width;
  margin: 0 auto;
  transform: translateY(0) !important;
  margin-bottom: 13rem;


  &__title {
    margin-top: 2rem;
    align-self: flex-start; 
    font-size: 2rem;
    color: variables.$green;
    z-index: 2;
  }


  .wrap{
    position: absolute;
    height: 100%;
    scroll-behavior: smooth;
  }

  &__zones{
    z-index: 5;
    position: absolute;
    height: 100%;
  }

  &__bg {
    height: 100%;
    z-index: 0;
  }


  &__legend {
    position: relative;
    z-index: 100;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color:rgba(255, 255, 255, 0.836)
  }

  &__legend-body {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: flex-start;
    padding: 2.2rem 0;
    width: 100%;
    margin: 0 auto;
    padding-left: 4.8rem;
    max-width: 1600px;
    .container:only-child{
      padding-right: 4.8rem;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: rgb(151, 151, 151);
    width: 150px;
    cursor: pointer;
    &.active{
      background-color: red !important;
    }
    &:hover{
      color: variables.$fiolet;
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 3rem;
    width: 30%;
    max-width: 450px;
    color: White;
    text-align: center;
    border-radius: 0.625rem 0.625rem 0rem 0rem;
    img{
      position: absolute;
      top: -30px;
      border-radius: 50%;
      z-index: 6;
      background-color: white;
      border: 3px solid variables.$green;
    }
  }

  &__items {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: black;
  }
  .pins{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    img{
      z-index: 99;
      position: absolute;
      transition: transform 0.3s ease;
      cursor: pointer;
    }
  }

  @media screen and (max-width: 1024px) {
    &__card{
      width: 40%;
      max-width: 500px;
    }
  }

  @media screen and (max-width: 770px) {
    &__card{
      width: 40%;
      max-width: 500px;
    }
    .pins{
      .img{
        width: 75px;
        height: 150px;
      }

    }
    .wrap{
      width: 100%;
      height: 100%;

      background-color: red; 
      touch-action: pan-x pan-y;  
      overflow: auto; 
 
    }
  }

  
  @media (max-width: 426px) {
    height: 500px;
    margin-bottom: 6rem;

    .wrap {
      position: absolute;
      width: 100%;
      height: 500px;
      overflow: scroll;
      scroll-behavior: smooth;
      touch-action: pan-x pan-y;
    }

    &__zones,
    &__bg,
    .pins {
      width: $map-width;
      height: $map-height;
    }

    .pins img {
      width: 30px;
      height: 50px;
    }

    &__legend {
      background-color: transparent;

      &-body {
        display: none;
      }
    }
  }
}

