@use "../base/variables";

.interMap {
  position: relative;
  width: 100%;
  min-height: 65rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-top: 3rem;

  &__title {
    position: relative;
    align-self: flex-start; 
    font-size: 2rem;
    color: variables.$green;
    z-index: 2;
    margin-bottom: auto;
  }

  &__map {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 1;
  }

  &__legend {
    position: relative;
    z-index: 2;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    .container{
      background-color:rgba(255, 255, 255, 0.836)
    }
  }

  &__legend-body {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    padding: 2.2rem 0;
    width: 100%;
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: black;
    width: 150px;
  }

  @media screen and (max-width: 1026px) {
    &__legend .container{
      background-color:rgb(255, 255, 255)
    }
  }
  @media screen and (max-width: 769px) {
    &__map {
      height: 70%;
    }
    &__legend,.container{
      padding: 0;
      bottom: 0px;
    }
  }

  @media screen and (max-width: 481px) {
    &__map {
      height: 45%;
    }
  }
}
