@use "../base/variables";

.interMap2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  width: 100%;
  height: 836px;
  transform: translateY(0) !important;


  &__title {
    align-self: flex-start; 
    font-size: 2rem;
    color: variables.$green;
    z-index: 2;
  }


  .wrap{
    position: absolute;
    height: 100%;
  }

  svg{
    z-index: 5;
    position: absolute;
    height: 100%;
  }

  &__bg {
    height: 100%;
    z-index: 0;
  }


  &__legend {
    position: relative;
    z-index: 6;
    width: 100%;
    display: flex;
    justify-content: center;
    
  }

  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 3rem;
    width: 280px;
    color: White;
    border-radius: 0.625rem 0.625rem 0rem 0rem;
    img{
      position: absolute;
      top: -30px;
      border-radius: 50%;
      z-index: 6;
      background-color: white;
      border: 3px solid variables.$green;
      // border: 3px solid rgb(212, 50, 50);
    }
  }

  &__items {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: black;
  }
}
