@use "../base/variables";

.news{

    &__list{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1rem;
        position: relative;
    }
    &__title{
        margin-bottom: 5rem;
        justify-content: space-between;
    }

    &__item{
        margin-bottom: 3rem;
        min-width: 350px;
        max-width: 371px;
    }

    &__headline{
        top:-5px;
        position: relative;
        padding: 2rem 3.5rem 3.5rem 2rem; 
        background: #F4F2EF;
        border-radius: 0 0 100px 0rem;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 0.5rem;
        height: 180px;

        h5{
            line-height: 3rem !important;
            --max-lines:2;
            display: -webkit-box;
        }
    }
    &__description {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        position: relative;
        line-height: 1.4;
        font-size: 1.5rem;
        // display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        p{
            --max-lines:3;
            display: -webkit-box;
            margin-bottom: 1rem;
        }

        a{  
            font-size: 1.5rem;
            font-weight: 600;
        }
        &::after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 2em; 
          background: linear-gradient(to bottom, transparent, #F4F2EF);
          pointer-events: none;
        }
    }

    &__img{
        border-radius: 100px 0 0 0;
        width: 100% !important;
        height: auto;
        max-width: 100%;
        max-height: 334px;
    }

    &__date{
        position: absolute;
        z-index: 2;
        right: 2.5rem;
        padding: 0.6em 1em;
        max-width: 110px;
        background-color: variables.$green;
        text-align: center;
        color:white;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 600;
        min-width: fit-content;
    }


    @media screen and (max-width: 1025px) {
        &__img{
            max-height: 250px;
            border-radius: 70px 0 0 0;  
        }
    }

    @media screen and (max-width: 769px) {
        &__img{
            max-height: 200px;
            border-radius: 70px 0 0 0;  
        }

        &__item{
            width: 100%;
        }
    }

    @media screen and (max-width: 481px) {

        &__list{
            display: flex;
            flex-direction: column;
            position: relative;
        }

        &__item{
            width: 100%;
        }

        &__date{   
            margin-left: 68%;
            margin-right: 10%
        }

        &__img{
            max-height: none;
            border-radius: 70px 0 0 0;  
        }
        a{  
            font-size: 1.5rem;
        }
    }
}

