.numbers{
    text-align: center;
    margin-bottom: 5rem;

    .container{
        display: flex;
        flex-direction: column;
    }

    &__text{
        text-align: center;
        max-width: 40%;
        margin: 0 auto 1.5rem;

        p{
            margin-bottom: 4rem;
        }
        h2{
            color: #060606;
            font-size: 3.75rem;
            font-style: normal;
            font-weight: 800;
            line-height: normal;
        }
    }


    &__items{
        display: flex;
        justify-content: center;
        position: relative;
    }

    &__item{
        border-right: 1px solid #000;
        padding: 0 6rem 0 6rem;
        min-width: 25%;
    }

    &__items div:last-child{
        border-right: 0px;

    }

    &__item p:first-child{
        font-family: 'NAMU-pro', sans-serif;
        color: #060606;
        font-size: 3.75rem;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
    }

    &__item p:last-child{
        color: #000;
        font-size: 1.5rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    @media screen and (max-width: 426px) {
        margin-bottom: 10rem;
        &__text{
            text-align: center;
            max-width: 70%;
            margin: 0 auto 1.5rem;
        }   
        
        &__item{
            padding: 0 3rem 0 3rem;
            min-width: 25%;
        }

        &__item p:first-child{
            font-size: 2.75rem;
        }
    
        &__item p:last-child{
            font-size: 1.2rem;
        }

      }

}