@use "../base/variables";

.persons {
    padding: 0 20px;
    height: 100%;

    &__headline{
        text-align: left;
    }

    &__list{
        display: flex;
        flex-direction: column;
        padding-right: 1rem;

        .item{
            display: flex;
            flex-direction: row;
            align-items: center;
            min-height: 70px;
            padding: 10px;
            .btn{
                margin-top:15px;
            }
            &:hover{
                background-color: variables.$light-green;
                cursor: pointer;
                animation-duration: 0.2s;
                transition: 0.3s;
            }
            &.--selected {
                background-color: variables.$light-green;
                animation-duration: 0.2s;
                transition: 0.3s;
                animation:disappear 0.3s forwards;
            }
            
        }
        >div:first-child{
            margin-top: 35px;
        }
        >div:last-child{
            margin-bottom: 200px;
        }
    }

    .status-button {
        border-radius: 50%;
        width: 45px !important;
        height: 45px !important;
        position: relative;
        left: -40px;
        bottom: -30px;
        z-index: 5;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        transition: all 0.3s ease;

        img {
            width: 100%;
            height: 100%;
        }

        &.--taken {
            color: variables.$green;
            background-color: white;
            border: 2px variables.$green solid;
            transition: all 0.3s ease;
        }

        &.--free {
            background-color: variables.$green;
            color: white;
            border: 2px white solid;

            &:hover {
                cursor: pointer;
                background-color: white;
                // color: variables.$green;
                border: 2px variables.$green solid;
                transform: scale(1.05); // легке збільшення
            }
        }


        svg {
            transition: opacity 0.3s ease, transform 0.3s ease;
        }

        .opacity-100 {
            opacity: 1;
            transform: scale(1);
        }

        .opacity-0 {
            opacity: 0;
            transform: scale(0.9);
        }
    }

    &__selected{
        margin-top: 20px;
        margin-bottom: 20px;
        min-height: 60px;
        display: flex;
        flex-direction: column;

        &-list{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            flex-wrap: wrap;
            margin-bottom: 10px;
        }
        &-list:not(:first-child){
            position:relative;
        }
        .selected-person{
            position:relative;
            margin-right: -60px;
            display: flex;
            align-items: flex-end;
            justify-content: flex-start;
        }
        img{
            border: 3px solid white;
            border-radius: 50%;
            z-index: 3;
            position: relative;
            right: 35px;
        }
        button.remove-btn{
            position: relative;
            z-index: 5; 
            border-radius: 50%;
            width: 45px;
            height: 45px;
            background-color: white;
            color: variables.$green;
            border: 2px variables.$green solid;
            overflow: hidden;
            transition: all 0.3s ease;
        }
        button.remove-btn:hover {
            cursor: pointer;
            background-color: variables.$green;
            color: white;
            border: 2px white solid;
            transform: scale(1.05); // легке збільшення
        }
        .btn{
            max-width: 250px;
        }

    }

    .btn-filters>button{
        border-radius: 4.75rem;
    }

    &__card {
        margin-top: 10rem;
        margin-bottom: 1rem;
        position: relative; 
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        max-height:280px;
        background-color: #d4edda; 
        padding:  1.75rem 1.75rem 1.75rem  1.75rem;
        border-radius: 2.75rem;
        gap:20px;

    }
    &__img {
        border-radius: 50%;
    }

    &__text {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: space-between;
    div:first-child{
        margin-bottom: 1.75rem;
    }
    div:last-child{
        color: variables.$green;
        p{
        display: flex;
        align-items: center;
        }
        button{
            color:white;
            background-color: variables.$green;
            border-radius: 50px;
            border: 2px white solid;
            width: 3.54844rem;
            height: 3.54844rem;
        }
    }
    }

    &__free{
        display: flex;
        justify-content: space-between;   
        align-items:center;
    }

    
    &__info,p{
        max-width: 450px;
        min-width: 280px;
        font-size: 1.8rem;
        line-height: 2.6rem;
        margin:0;
        text-wrap-mode: wrap;
    }

    @media screen and (max-width: 1026px) {
    &__img {
        height:185px;
        width:185px;
    }
    &__text{
        min-width:230px;
    }
    }
    @media screen and (max-width: 769px) {
    &__img {
        height:130px;
        width:130px;
    }

    &__card{
        width: 32%;
    }

    &__text {
        padding-top: 11rem;
        min-width:200px;
    }

    }
    @media screen and (max-width: 481px) {
    
    &__headline{
        padding: 1rem;
    }

    .item{
        padding-left: 1rem;
    }

    &__card{
        width: 45%;
        height: 215px
    }

    &__img {
        height:120px;
        width:120px;
    }

    &__person {
        position:relative;
        margin-bottom: 35px;
        width: 75%;
    }

    &__text {
        padding-top:  10rem;
        min-width: 160px;
    }

    &__info,p{
        font-size: 1.5rem;
        line-height: 2.2rem;
    }

    .status{
        padding: 0.5rem 1rem;
        font-size: 1.5rem;
        &.icon{
            width: 15px !important;
            height: 15px !important;
        }
    }

    }
  }

.mecenat{
    border-radius: 1.75rem 0 1.75rem 0;
    padding: 2.75rem;
    margin-top: 1rem;

    &__info{

        font-size: 2rem;
        line-height: 2.2rem;
        border-bottom: white 1px solid;
        padding-bottom: 0.75rem;
    }
    &__note{
        font-size: 1.5rem;
        line-height: 2.2rem;
        padding-top: 0.75rem;
        font-style: italic;
    }
}

.persons__search {
    width: 100%;
    margin-bottom: 20px;
    padding: 8px 12px;
    font-size: 16px;
}

.container1{
    flex: 1;
    position: relative;
    height: 800px;
    background: white;  
}
.scrollable{
    height: 100%;
    overflow-y: auto;
    scroll-behavior: smooth;
}

.fade-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    z-index: 3;
}
  
.fade-overlay .top {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    background: linear-gradient(to bottom, white, rgba(255, 255, 255, 0));
}

.fade-overlay .bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px;
    background: linear-gradient(to top, white, rgba(255, 255, 255, 0));
}


@keyframes disappear {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.95);
    opacity: 0;
    display: none;
  }
}
