.plantTree{
    height: fit-content;

    .row{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 1rem;
    }

    &__form {

        padding: 2rem 5.7rem;
        border-radius: 2.75rem;

        .no-padding{
          padding: 0px;
        }
      
        form {
          display: flex;
          flex-direction: column;
          gap: 1.875rem;
          margin-bottom: 2.84rem;
      
          label {
            display: flex;
            flex-direction: column;
            font-size: 1rem;
            font-weight: 500;
            margin-bottom: 1.2rem;
          }
      
          select,
          input {
            width: 100%;
            padding: 0.625rem 1.25rem;
            border-radius: 5px;
            border: 1px solid #ccc;
            border-radius: 1.25rem;
            font-family: Montserrat;
            font-size: 1.375rem;
            font-style: normal;
            font-weight: 400;
            line-height: 3rem;
            
          }

          select{
            appearance: none;
            background-color: white;
            background-image: url("/assets/dropdown-arrow.svg"); // Додайте іконку стрілки
            background-repeat: no-repeat;
            background-position: right 1rem center; // Розміщення стрілки всередині padding
            background-size: 16px;
          }
      
          small {
            font-size: 1.1rem;
            color: #666;
            margin-top: 2px;
          }
          button{
            width: none;
          }
        }
        
    }

    &__trade{
      margin-top: 5px;
      display: flex;
      align-content: stretch;
      justify-content: space-between;
      align-items: center;
    }
    &__label{
      font-size: 12px;
    }

    .steps-container{
      border-radius: 2.75rem; 
      padding: 2rem 8.4rem 5.7rem;

    }
    .callToAction__steps{
      display:flex;
      flex-direction: column;
      gap: 3rem;
      margin-bottom: 2rem;
      .step{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 1.5rem 1.5rem 1.5rem 0rem;
      }

      span{
        margin:0;
        top: 0;
        left:-20px;
      }

      .desc{
          position: relative;
          left: -10px;
          font-size: 1.6rem;
      }
      
    }


    .btn{
      margin:0;
    }

    li{
      padding-right: 0px;
      font-size: 1.4rem;
    }
    .benefits__title{
      font-size: 2rem;
      line-height: 1.8;
    }

  @media screen and (max-width: 769px) {
    &__trade{
      flex-wrap: wrap;
    }

  }
  @media screen and (max-width: 481px) {
    max-height: none; 
    margin-bottom: 15.5rem;
    .row{
      display: flex;
      flex-wrap: wrap;
      // flex-direction: column-reverse     
    }

    &__form {
      width: 100%;
      padding: 2rem;
    }

  }

}


.input-error {
  border: 1px solid #e53935 !important;
  background: #fff6f6;
}
.error {
  color: #e53935;
  font-size: 0.9em;
  margin-top: 2px;
}

  