.plantTree{
    // margin-top: 25rem;

    .row{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 1rem;
    }

    .treeDescription{
        // width: 50%;
        border-radius: 2.75rem;
        padding: 7rem 2rem 4.2rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        img{
          // align-self: center;
          width: 50%;
          height: fit-content;
        }
    }

    &__form {
        // width: 50%;
        padding: 2rem 5.7rem;
        border-radius: 2.75rem;
        .no-padding{
          padding: 0px;
        }
      
        form {
          display: flex;
          flex-direction: column;
          // gap: 1rem;
          gap: 1.875rem;
          margin-bottom: 2.84rem;
      
          label {
            display: flex;
            flex-direction: column;
            font-size: 1rem;
            font-weight: 500;
            margin-bottom: 1.2rem;
          }
      
          select,
          input {
            width: 100%;
            // height: 1.87rem;
            padding: 0.625rem 1.25rem;
            border-radius: 5px;
            border: 1px solid #ccc;
            border-radius: 1.25rem;
            font-family: Montserrat;
            font-size: 1.375rem;
            font-style: normal;
            font-weight: 400;
            // line-height: 1.875rem;
            line-height: 3rem;
            
          }

          select{
            appearance: none;
            background-color: white;
            background-image: url("/assets/dropdown-arrow.svg"); // Додайте іконку стрілки
            background-repeat: no-repeat;
            background-position: right 1rem center; // Розміщення стрілки всередині padding
            background-size: 16px;
          }
      
          small {
            font-size: 0.85rem;
            color: #666;
            margin-top: 2px;
          }
          button{
            width: none;
          }
        }
    }

    &__trade{
      display: flex;
      align-content: stretch;
      justify-content: space-between;
      align-items: center;
    }
    &__label{
      font-size: 20px;
    }
    &__price{
      font-size: 2.25rem;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
    }
    .btn{
      margin:0;
    }

    li{
      padding-right: 0px !important;
      font-size: 1.125rem !important;
    }

  // @media screen and (max-width: 1026px) {

  // }
  @media screen and (max-width: 769px) {
    &__trade{
      flex-wrap: wrap;
    }
  // &__label{
  //   font-size: 14px;
  // }

  }
  @media screen and (max-width: 426px) {
    .row{
      display: flex;
      flex-wrap: wrap;
    }

  }

}


  