@use "../base/variables";
$transition: 0.5s cubic-bezier(.39, .575, .565, 1);

.pulseMap {
  position: relative;
  color: black;

  .map-wrapper {
    position: relative;
  }

  &__bg {
    position: relative;
    inset: 0;
    z-index: 1;
    img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
  }

  &__boobles {
    position: absolute;
    inset: 0;
    z-index: 3;


    .booble {
        position: absolute;
        cursor: pointer;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        // height: 50px;
        transform: translate(-50%, 50%);

        .text {
            text-align: center;
            color: white;
            opacity: 0;
            transition: $transition;
            font-size: 16px;
        }

        .dot {
            width: 1.3rem;
            height: 1.3rem;
            background: #fff;
            border-radius: 50%;
            position: relative;
            z-index: 3;
        }

        .pulse {
            position: absolute;
            border: 2px solid rgb(255, 255, 255);
            border-radius: 50%;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            animation: pulse 2.5s infinite;
            opacity: 0.6;
        }

        .pulse2 {
            animation-delay: 0.6s;
        }

        .pulse3 {
            animation-delay: 1.2s;
        }

        &.--chosen {
            .text {
            opacity: 1;
            }
        }

        &.--chosen .pulse,
        &.--chosen .dot {
                background: variables.$fiolet;
                border-color: variables.$fiolet;
            }


    }
  }

  .dark-overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.2);
    opacity: 0;
    z-index: 2;
    transition: $transition;

    &.active {
      opacity: 1;
    }
  }

  &__info-box {
    position: absolute;
    top: 40%;
    right: 10%;
    max-width: 270px;
    transform: translateX(-50%) translateY(-200%);
    opacity: 0;
    background: white;
    padding: 1.5rem 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    transition: $transition;
    z-index: 4;
    text-align: center;

    &.visible {
      transform: translateX(-50%) translateY(0);
      opacity: 1;
    }
  }

    @media screen and (max-width: 1026px) {
    }
    @media screen and (max-width: 769px) {
    }

    @media screen and (max-width: 426px) {
        &__bg img{
                height: 500px;
                width: 100%;
                object-position: 45% 50%;
                // margin-left:5%;
            }
        }
        // .booble{
        //             height: 50px;
        // } 

}


// Pulse animation
@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 0.6;
  }
  70% {
    transform: scale(2.5);
    opacity: 0;
  }
  100% {
    transform: scale(3);
    opacity: 0;
  }
}
