@use "../base/variables";

.qoute {
  position: relative;
  padding-top: 50px;

  .container{
    padding-right: 0;
  }

  .content {
    display: flex;
    align-items: flex-end;
    position: relative;
    padding-right: 0;
    .col{
      position: relative;
      z-index: 2;
      padding: 2.75rem 1rem;
    }
  }

  &__background {
    position: absolute;
    left: 0;
    top: 0;
    width: calc(100% - 4.8rem);
    height: 100%;
    z-index: 1;
    background-color: variables.$green;
    color:white;
  }


  &__text {
    position: relative;
    z-index: 2;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 2.1rem;
  }
  .sub{
    font-size: 1.75rem;
    margin-bottom: 0.25rem;
  }
  i{
    font-size:1.5rem;
  }
  &__icon{
    margin-bottom: 2.1rem;
  }


  &__ceo {
    position: relative;
    display: flex;
    justify-content: center;
    padding-left: 8%;

    img {
      position: relative;
      z-index: 2;
      margin-top: -50px;
      width: 37.375rem;
      height: 39.9rem;
    }
  }

  @media screen and (max-width: 1025px){
    img{
        margin-top: 0;
    }
  }

  @media screen and (max-width: 481px) {
    min-height: 100%;

    .content {
      flex-direction: column;
    }

    &__ceo {
      padding: 0;
      position: relative;
      right:25px;
      img{
        margin:0;
        height: auto;
        max-width: 315px;
      }
    }

    &__background {
      width: 100%;
      height: 100%;
    }
    .col-bg{
      padding-top: 3.75rem;
      width: 100%;
    }
  }

}
