@use "../base/variables";

.qoute {
  position: relative;
  padding-top: 50px;
  background-color: none;

  .container{
    padding-right: 0;
  }

  .content {
    display: flex;
    align-items: center;
    position: relative;
    padding-right: 0;
    .col{
      position: relative;
      z-index: 2;
    }
  }

  &__background {
    position: absolute;
    left: 0;
    top: 0;
    width: calc(100% - 4.8rem);
    height: 100%;
    z-index: 1;
    background-color: variables.$green;
    color:white;
  }


  &__text {
    font-size: 20px;
    position: relative;
    z-index: 2;
    // line-height: 1;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 2.1rem;
  }
  &__icon{
    margin-bottom: 2.1rem;
  }


  &__ceo {
    position: relative;
    display: flex;
    justify-content: center;
    padding-left: 8%;

    img {
      position: relative;
      z-index: 2;
      margin-top: -50px;
      width: 45.125rem;
      height: 39.3125rem;
    }
  }

  @media screen and (max-width: 426px) {
    .content {
      flex-direction: column;
    }

    &__ceo {
      padding: 0;
      img{
        margin:0
      }
    }

    &__background {
      width: 100%;
    }
    .col-bg{
      width: 100%;
    }
  }

}
