.treeDescription{
    top:0px;
    padding: 4.2rem 2rem 0 2rem;
    border-radius: 2.75rem;
    display: flex;
    flex-direction: column;
    // align-items: center;
    h2{
        margin-bottom: 1.5;
    }
    
    .row{
        padding-right: 4.2rem;
    }

    &__img{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .vertical{
        padding: 7rem 2rem 4.2rem;
        width: 50%;
    }   

    &__content{
        padding-left: 4.2rem;
    }

    &__text{
        margin-bottom: 1.75rem;
    }

    &__price{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 2rem;
        &--title{
            font-size: 1.4rem;
            color: #616161;
        }
        &--value{
            font-size: 2.6rem;
            font-weight: 700;
            font-family: 'NAMU-pro', sans-serif;
        }
    }
    @media screen and (min-width: 769px) {
        &_img > img{
            width: 350px;
            height: auto;
        }       
    }

    @media screen and (max-width: 481px) {
        .row{
            flex-direction: column-reverse;
            padding: 0;
        }

        .col-lg,
        .col-md{
            width: 100%;
        }
        &__img > img{
            width: 300px;
        }

        &__content{
            text-align: center;
            padding: 1rem 0;
        }
    
    }

}