.treeDescription{

    top:0px;
    padding: 4.2rem 2rem;
    border-radius: 2.75rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .row{
        padding-right: 4.2rem;
    }

    &__img{
        width: 50% !important;
        height: fit-content !important;
    }
    .vertical{
        padding: 7rem 2rem 4.2rem;
        width: 50%;
        &__img, img{
            width: 100%;
            height: fit-content;
        }
    }

    &__content{
        padding-left: 4.2rem;
    }

    &__description{
        margin-bottom: 4.7rem;
    }

    @media screen and (max-width: 426px) {
        .row{
            flex-direction: column;
            padding: 0;
        }

        .col-bg{
            width: 100%;
        }

        &__content{
            padding: 1rem 0;
        }
    
        &__img, img{
            width: 50%;
        }
    }

}
