.treeDescription{
    padding: 3.3rem 0;
    .row{
        padding-right: 4.2rem;
    }
    &__img{
        width: 100%;
        height: 456px;
    }
    &__content{
        padding-left: 4.2rem;
    }

    &__description{

        font-size: 1.25rem;
        font-style: normal;
        font-weight: 400;
        line-height: 2rem;
        margin-bottom: 4.7rem;
    }

    @media screen and (max-width: 426px) {
        .row{
            flex-direction: column;
        }

        .col-bg{
            width: 100%;
        }


    }

}
