.treeDescription{
    padding: 3.3rem 0;

    .row{
        padding-right: 4.2rem;
    }

    &__img{
        display: flex;
        justify-content: center;
        img{
            height: 100%;
            width: fit-content;
        }

    }
    .vertical{
        &__img, img{
            width: 100%;
            height: fit-content;
        }
    }

    &__content{
        padding-left: 4.2rem;
    }

    &__description{
        margin-bottom: 4.7rem;
    }

    @media screen and (max-width: 426px) {
        .row{
            flex-direction: column;
            padding: 0;
        }

        .col-bg{
            width: 100%;
        }

        &__content{
            padding-right: 4.2rem;
        }
    
        &__img, img{
            width: 50%;
        }
    }

}
