#visualisation{
    text-align: center;
}

#youtube-video{
  width: 100%;
  height: 450px;
}


 @media screen and (max-width: 769px) {
    #youtube-video{
        height: 300px;
    }
  }

  @media screen and (max-width: 481px) {
    #youtube-video{
        height: 200px;
    }
  }