.weHave{
    &__title{
        margin-bottom: 3rem;
    }
    &__cards{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1rem;
        position: relative;
    }
    .container{
        margin-bottom: 7.5rem;
    }

    @media screen and (max-width: 431px) {
        &__title{
            margin-bottom: 5.75rem;
        }

        &__cards{
            display: flex;
            flex-direction: column;
            position: relative;
        }


    }
}
.card{

    &__number{
        font-size: 4rem;
        margin-bottom: 2.5rem;
    }

    &__img{
        width: 100%;
        height: auto;
        max-width: 100%;
        display: block;
        border-radius: 100px 0rem;
        object-fit: cover;
    }
    &__title{
        font-size: 2.27rem;
    }

    @media screen and (max-width: 769px) {
                   
            &__img{
                min-width: 150px;
                border-radius: 70px 0rem;    

            }
    }

    @media screen and (max-width: 431px) {

            margin-bottom: 5.75rem;
            &__title{
                line-height: 4rem;
            }

            &__number{
                font-size: 4rem;
                margin-bottom: 2.5rem;
            }
        } 
}


