.weHave{
    &__title{
        margin-bottom: 3rem;
    }
    &__cards{
        // justify-content: space-between;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1rem;
        position: relative;
    }
    .container{
        margin-bottom: 7.5rem;
    }
}
.card{
    &__number{
        font-size: 4rem;
        margin-bottom: 2.5rem;
    }

    &__img{
        border-radius: 100px 0rem;    
        margin-bottom: 1.5rem;
        min-height: 300px;
        width: 100%;
    }
    &__title{
        font-size: 2.27rem;
    }
}