.weHave{
    &__title{
        margin: 0 auto 2.5rem;

        p,h2{
            min-width: 300px;
            max-width: 450px;
        }

        &.center{
            text-align: center;
            max-width: 40%;
        }
    }
    &__cards{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 1rem;
        position: relative;
    }
    .container{
        margin-bottom: 7.5rem;
    }

    @media screen and (max-width: 481px) {
        &__title{
            margin-bottom: 5.75rem;
            max-width: none !important;
        }

        &__cards{
            display: flex;
            flex-direction: column;
            position: relative;
        }


    }
}
.card{

    &__number{
        font-size: 4rem;
        margin-bottom: 2.5rem;
    }

    &__img{
        width: 100%;
        height: auto;
        max-width: 100%;
        display: block;
        border-radius: 6.25rem 0rem;
        object-fit: cover;
        &.rounded{
           border-radius: 2.75rem !important; 
        }
    }
    &__title{
        font-size: 2.27rem;
    }

    @media screen and (max-width: 769px) {
                   
            &__img{
                min-width: 150px;
                border-radius: 4.375rem 0rem;    

            }
    }

    @media screen and (max-width: 481px) {

            margin-bottom: 5.75rem;
            &__title{
                line-height: 4rem;
            }

            &__number{
                font-size: 4rem;
                margin-bottom: 2.5rem;
            }
        } 
}


