@keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

.fade-in-up {
  opacity: 0;
  transform: translateY(20px);
}

.animate.fade-in-up {
  animation: fadeInUp 0.6s ease-out forwards;
}

@keyframes fadeRight {
    0% {
      opacity: 0;
      transform: translateX(20px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
}

@keyframes fadeLeft {
    0% {
      opacity: 0;
      transform: translateX(-20px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
}

.animate.fade-sides {
    > div:first-child{
        animation: fadeLeft 0.6s ease-out forwards;
    }

    > div:last-child{
        animation: fadeRight 0.6s ease-out forwards;
    }
    
}

.fade-left {
  opacity: 0;
  transform: translateX(-20px);
}
.animate.fade-left {
  animation: fadeLeft 0.6s ease-out forwards;
}

.fade-right {
  opacity: 0;
  transform: translateX(20px);
}
.animate.fade-right {
  animation: fadeRight 0.6s ease-out forwards;
}


@keyframes upAndDown {
  0% {
    transform: matrix(1, 0, 0, 1, 0, 0);
    opacity: 1;
  }
  100% {
    transform: matrix(1, 0, 0, 1, 0, 10);
    opacity: 0.9;
  }
}

.animate.up-and-down_1 {
  animation-delay: 0s;
}

.animate.up-and-down_2 {
  animation-delay: 0.4s;
}

.animate.up-and-down_3 {
  animation-delay: 0.8s;
}

.animate.up-and-down_1, .animate.up-and-down_2, .animate.up-and-down_3 {
  transform: matrix(1, 0, 0, 1, 0, 0);
  animation-name: upAndDown;
  animation-duration: 2.3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: none;
  animation-play-state: running;
}

