@keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

.fade-in-up {
    animation: fadeInUp 0.6s ease-out forwards;
}
  


@keyframes fadeRight {
    0% {
      opacity: 0;
      transform: translateX(20px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
}

@keyframes fadeLeft {
    0% {
      opacity: 0;
      transform: translateX(-20px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
}

.fade-sides {
    > div:first-child{
        animation: fadeLeft 0.6s ease-out forwards;
    }

    > div:last-child{
        animation: fadeRight 0.6s ease-out forwards;
    }
    
}
