@use "mixins";
@use "variables";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  background-color: variables.$white;
}

main {
  min-height: calc(100vh - 13rem);
  padding-top: 26rem;
  @media screen and (max-width: 769px) {
    padding-top: 11rem;
  }
}

section {
  display: block;
  unicode-bidi: isolate;
}

a {
  color: inherit;
  text-decoration: none;
  -webkit-text-fill-color: inherit !important;

  &:hover,
  &:focus {
    text-decoration: none;
    color: variables.$purple !important;
  }
}

a.btn {
  display: inline-block;
}

button {
  font-family: "Montserrat", serif;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  font-weight: 400;
}

button, .btn, [role="button"] {
  color: inherit;
}

html {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  scroll-behavior: smooth
}

html.no-scroll,
body.no-scroll {
  overflow: hidden !important;
  height: 100%;
}

html {
  font-size: 62.5%; // 1rem = 10px; 10px/16px = 62.5%

  @include mixins.respond(tab-land) {
    // width < 900?
    font-size: 55%; // 1 rem = 9px, 9/16 = 56.25%
  }

  @include mixins.respond(phone) {
    // width < 600?
    font-size: 50%; // 1 rem = 8px, 8/16 = 50%
  }

  @include mixins.respond(big-desktop) {
    font-size: 75%; // 1 rem = 12px, 12/16 = 75%
  }
}

section{
  position: relative;
  background-color: white;
  color:black;
  margin-bottom: 8rem;
}

.container{
  margin: 0 auto;
  padding-left: 4.8rem;
  padding-right: 4.8rem;
  max-width: 1600px;

}

.relative-wrapper {
    position: relative;
  }

.content{
  padding: 0 9rem;
}

@media screen and (max-width: 1440px) {
  .container{
    max-width: 1390px;
  }
}

@media screen and (max-width: 769px) {
  .content{
    padding: 0 5rem;
  }
  .container{
    max-width: 768px;
  }
}

@media screen and (max-width: 481px) {
  .container{
    padding: 0;
  }
  .content{
    padding: 0 3rem;
  }
  section{
    margin-bottom: 5rem;
  }

}
.grey{
    background: variables.$grey;
}
.light-grey{
  background: variables.$light-grey;
}

.green{
  background-color: variables.$green;
  color:white;
}

.light-green{
  background-color: variables.$light-green;
}

.row{
  display: inline-flex;
  flex-direction: row;
}

.col {
  // width: 50%;
  padding: 1rem;
}

// Блоки за замовчуванням (для великих екранів)
.col-sm { width: 25%; }  // 3/12
.col-md { width: 33.333%; }  // 4/12
.col-bg { width: 50%; }  // 6/12
.col-lg { width: 66.666%; }  // 8/12

