.footer {  

  .body{
    display: flex;
    justify-content: space-between; 
    align-items: center
  }
  &__title{
    display: flex;
    justify-content: space-between; 
    align-items: flex-end;
    margin-top: 75px;
    margin-bottom: 20px;
    h2{
      margin: 0;
    }
    p{
      text-align: right;
    }
  }
  &__map{
    width: 100%;
    height: 39.8rem;
    border:0px;
  }
  &__main {
    height: 240px;
    border-bottom: solid 2px rgba(255, 255, 255, 0.555);
    padding: 4rem 0;
  }
  &__contacts {
    display: flex;
    flex-direction: column;
  }
  &__actions {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    text-align: right;
    justify-content: flex-end;
    gap:25px;
    & .col{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: fit-content;
      align-items: flex-end;
      max-width: 280px;
      // & div{
      //   margin-bottom: 2.5rem;
      // }
    }
    .btn{
      margin:0;
      min-width: 200px;
    }
    h5{
      text-wrap-mode: nowrap;
    }
  }

  &__logo {
    margin-bottom: 2.5rem;
  }

  &__icons {
    display: flex;
    & > a {
      margin: 0.65rem;
    }
  }

  &__links {
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 2.5rem;
  
    & ul:not(:last-of-type) {
      margin-bottom: 2.5rem;
    }
    li{
      list-style: none;
    }
  }

  &__policies {
    padding: 2rem 0;
    line-height: 3.5rem;
    font-size: 14px;
    .body{
      align-items: center
    }
    ul, a {
      display: inline-flex;
      list-style: none;
      align-items: center;
      & li:not(:last-of-type) {
        margin-right: 3.5rem;
      }
    }
  }


  .btn{
    margin-top: 2.5rem;
    margin-right: 0;
  }

  @media screen and (max-width: 769px) {
  }
  
}

@media screen and (max-width: 431px) {


  .body{
    display: flex;
    text-align: center !important;
    flex-direction: column;
    align-content: center;
  }
  .footer{

    &__title{

      h2{
        font-size: 2.5rem;
      }
      p{
        font-size: 1.5rem;
        text-align: right;
      }
    }

    &__main {
      height: 100%;
    }
    a{
      font-size: 1.75rem;
    }
    .container{
      padding: 0 2rem;
    }
    &__contacts {
      align-items: center;
    }
    &__links{
      align-items: center;
    }

    &__actions {

      flex-direction:column;
      align-items: center;
      text-align: center;
      & .col{
        align-items: center;
      }
    }
    
    &__policies{
      .body{
        flex-direction: column-reverse;
      }
      ul, a{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
      }
      li{
        margin: 0 !important;
      }
      // &-nav{
      //   // margin-bottom: 5px;
      // }
    }

  }

}
