@use '../../base/variables';

.modal, .overlay {
    position: fixed;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    inset: 0;
}

.overlay {
    z-index: 50;
    background: rgba(0,0,0,0.5);
}
.modal-content {
    // position: absolute;
    position: relative;
    z-index: 100;
    top: 50%;
    left: 50%;
    display: flex;
    justify-content: center;
    padding: 0 1rem 0 1rem;
    transform: translate(-50%, -50%);
    max-width: 500px;
}

.close-modal {
    z-index: 101;
    position: absolute;
    top: 5px; 
    right: 10px;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    color: variables.$green;
    overflow: hidden;
    transition: all 0.3s ease;
}

.close-modal:hover {
    cursor: pointer;
    background-color: variables.$green;
    color: white;
    transform: scale(1.05); 
}

