.modal, .overlay {
    position: fixed;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    inset: 0;
}

.overlay {
    z-index: 50;
    background: rgba(0,0,0,0.5);
}
.modal-content {
    position: absolute;
    z-index: 100;
    top: 50%;
    left: 50%;
    display: flex;
    justify-content: center;

    transform: translate(-50%, -50%);
    // line-height: 1.4;
    // background: #fefefe;
    // border-radius: 3px;
    // width: 100%;
    // max-width: 600px;
    // min-width: 300px;
}

.close-modal {
    top: 10px;
    right: 10px;
    padding: 5px 7px;
}

