@use "../../base/variables";

.scroll-to-top {
  position: fixed;
  bottom: 3rem;
  right: 4rem;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: 25;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  span {
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    font-size: 0.85rem;
    color: variables.$black;
  }

  button {
    position: relative;
    overflow: hidden;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    background-color: variables.$fiolet;
    color: white;
    font-size: 2rem;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;

    svg {
      pointer-events: none;
    }

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 200%;
      height: 200%;
      background-color: white;
      border-radius: 50%;
      transform: translate(-50%, -50%) scale(0);
      opacity: 0.3;
      transition: transform 0.5s ease, opacity 0.5s ease;
      z-index: 0;
    }

    &.ripple::after {
      transform: translate(-50%, -50%) scale(1);
      opacity: 0;
    }
  }

  button:hover {
    background-color: variables.$purple;
    transform: scale(1.05);

    + span {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

.scroll-to-top.visible {
  opacity: 1;
  pointer-events: auto;
}
