.mainBanner{
  margin-bottom: 9.8rem;
      @media screen and (max-width: 481px) {
        margin-bottom: 4.5rem;
      }
}


.ourTeam{

  &__content{
      max-width: 700px;
      margin: 0 auto;
      text-align: left;
      h5,p{
        margin: 0.4em 0
      }
  }
  &__roles{
    margin-bottom: 0.2em;
    font-size: 2rem;
    line-height: 1.2;
  }
  &__bg{
    position: absolute;
    z-index: -49;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    img{
      position: absolute;
      border-radius: 50%;
      width: 110px;
      height: 110px;
      object-fit: cover;
    }
  }

      @media screen and (max-width: 481px) {
        &__bg{
          display:none;
        }
        .container{
          padding: 0 1.6rem;
        }
      }
  
}

