.carousel{
  margin-bottom: 9.8rem;
}

.about{
  display: flex;
  flex-direction: column;
  margin-bottom: 12rem;
  padding-bottom: 3.125rem;

  .body{
    margin-top: 5rem;
    margin-bottom: 6.25rem;
  }
}
