.first-screen{
    position: relative;
    overflow: hidden;
}

.article{
    flex-direction: column;
    display: flex;
    align-items: flex-start;
    top: -3rem;
    background-color: #ffffff00 !important;
    &__content{
        font-size: 1.7rem ;
        line-height: 2.5rem;
        li{
            margin-bottom: 0.5rem;
        }
    }
}

.article>.container>.news__date{
    position: relative !important;
    z-index: 3 !important;
    margin: 0 !important;
    margin-bottom: 3rem !important;
}
