.date {
  .content {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
  }

  .data-card {
    padding: 2.25rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 20px;
    max-width: 368px;
    gap: 30px;
    width: 100%;
    p{
        max-width: 156px;
    }
  }
  
      @media screen and (max-width: 481px) {
        .content{
            flex-direction: column;
        }
    }

}

.tickets{

    .content{
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: center;
        gap: 20px;
    }
    .cost-card{
        padding: 2.25rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: left;        
        border-radius: 20px;
        max-width: 400px;
        min-height: 270px;
        gap: 60px;
        width: 100%;

        div{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            width: 100%;
        }

    }
    @media screen and (max-width: 481px) {
        .content{
            flex-direction: column;
        }
    }
}

.subp {
  font-size: 1.9rem;
  line-height: 2rem;
  font-weight: bold;
  @media screen and (max-width: 481px) {
    font-size: 1.75rem;
    line-height: 2.5rem;
  }
}

